node_modules
.npm-debug.log
.sass-cache
.DS_Store
tmp
vendor
composer.phar
composer.lock
package-lock.json
assets/fonts/*
assets/favicon/build/*
favicons.html
*.css.map
rtl.css
style.css
npm-debug.log